server {
  listen 80;

  server_name {{ item.name }};
  root {{ item.document_root }};
  index {{ item.document_index }}.php;

  location = /favicon.ico {
    log_not_found off;
    access_log off;
  }

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  location ~ (/\.|EXCEPTION_LOG\.txt|\.log$|\.tpl$|pkg.rev) {
    deny all;
  }

  location ~ /out/pictures/.*(\.jpg|\.gif|\.png)$ {
    try_files $uri /core/utils/getimg.php;
  }

  location ~ ^/(admin|setup)/?$ {
  }

  location ~ /(core|export|modules|out|tmp|views)/ {
  }

  location / {
    try_files $uri $uri/ /oxseo.php$is_args$args;
  }

  location ~ /oxseo.php(/|$) {
    try_files $uri =404;
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }

  location ~ \.php(/|$) {
    try_files $uri =404;
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }

  error_log /var/log/nginx/oxid.{{ item.name }}.error.log;
  access_log /var/log/nginx/oxid.{{ item.name }}.access.log;
}
