[{{ item.name }}]

user = {{ item.user }}
group = {{ item.group }}

listen = /run/php/{{ item.name }}.sock
listen.owner = www-data
listen.group = {{ item.group }}
;listen.mode = 0660

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
